__pycache__
.lein-failures
.lein-repl-history
.rebel_readline_history
.replit
.coverage
venv/
target/
build/
bin/
obj/
cljs-out/
coverage
.nyc_output
node_modules
htmlcov
.gradle
tdd-katas/babysteps-timer/babysteps-typescript/src/*.js
tdd-katas/babysteps-timer/babysteps-typescript/spec/*.js
tdd-katas/train-reservation/train-reservation-dotnet/TicketOffice.Specs/Features/TrainCancellation.feature.cs
tdd-katas/train-reservation/train-reservation-dotnet/TicketOffice.Specs/Features/TrainReservation.feature.cs
