allpairspy==2.5.0
approval-utilities==8.2.5
approvaltests==8.2.5
args==0.1.0
clint==0.5.1
coverage==7.2.6
empty-files==0.0.3
expects==0.9.0
iniconfig==2.0.0
mamba==0.11.2
mrjob==0.7.4
pluggy==1.0.0
PyHamcrest==2.0.4
pyperclip==1.8.2
pytest==7.3.1
